@font-face {
    font-family: 'JetBrains Mono';
    src: url('../Ressources/Font/JetBrainsMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'JetBrains Mono', sans-serif;
}

#fond img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    max-width: 300;
    max-height: 300vh;
}


#fond_1er_plan img{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding-top: 5%; /* Ajustez cette valeur selon vos besoins */
    padding-bottom: 5%; /* Ajustez cette valeur selon vos besoins */
    padding-left: 5%; /* Ajustez cette valeur selon vos besoins */
    padding-right: 5%; /* Ajustez cette valeur selon vos besoins */
    box-sizing: border-box; /* Assure que le padding est inclus dans la taille totale */
    max-width: 180;
    max-height: 100vh;
}


#logo {
    position: absolute;
    top: 25%; 
    left: 15%; 
    z-index: 3;
}

#logo img {
    width: 100%;
    height: auto;
    max-width: 50vw;
    max-height: 50vh;
}


#interface_connexion {
    position: absolute;
    top: 35%;
    left: 70%;
    transform: translate(-50%, -25%);
    width: 300px; /* Ajustez cette valeur selon vos besoins */
    padding: 20px;
    background-color: #ffffff; /* Couleur de fond */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ombre pour un effet de profondeur */
    z-index: 3;
    border-radius: 10px;
}

#title {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 120%;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-bottom: 10px;
}

.champs {
    margin-bottom: 3%; /* Espacement entre les champs */
}

.champs label {
    display: block;
    margin-bottom: 3%;
    font-family: 'JetBrains Mono', sans-serif;
}

.champs input {
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', sans-serif;
    /*arrondi les angles*/
    border-radius: 10px;
    /*change la couleur de la boite pour du léger gris*/
    background-color: #f2f2f2e1;
}

#forgot_password {
    display: block;
    margin-top: 3%; /* Ajustez cette valeur selon vos besoins */
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 90%; /* Ajustez cette valeur selon vos besoins */
    color: #ffffff; /* Couleur du lien */
    text-align: left; /* Aligne le texte à droite */
    text-decoration: none; /* Supprime le soulignement par défaut */
}

#forgot_password:hover {
    text-decoration: underline; /* Ajoute un soulignement au survol */
}

.button {
    width: 30%;
    height: auto; /* Ajuste automatiquement la hauteur en fonction du contenu */
    height: auto; /* Ajuste automatiquement la hauteur en fonction du contenu */
    padding: 3%; /* Ajustez cette valeur selon vos besoins */
    box-sizing: border-box;
    font-family: 'JetBrains Mono', sans-serif;
    border-radius: 30px;
    background-color: #3a3030e1;
    color: #FFFFFF;
    transition: 0.3s;
    text-align: center; /* Centre le texte à l'intérieur du bouton */
    font-size: 100%;
    margin: 0 auto; /* Centre le bouton horizontalement */
    border: none; /* Supprime la bordure par défaut */
    cursor: pointer; /* Change le curseur pour indiquer que c'est un bouton cliquable */
    display: block; /* Assure que le bouton prend toute la largeur disponible */
}

.button:first-child {
    margin-bottom: 5%; /* Ajoute un espace de 10px à droite du premier bouton */
}

.button:hover {
    background-color: #2a2020e1; /* Change la couleur de fond au survol */
}