@font-face {
    font-family: 'JetBrains Mono';
    src: url('../Ressources/Font/JetBrainsMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'JetBrains Mono', sans-serif;
}


.error-message {
    color: red;
    background-color: #f5c6cb ;
    height: 80%;
    width: 80%;
    display: flex;
    position: relative;
    margin-left: 5%;
    border-radius: 1em;
    border: 0.1em solid black;
    padding: 1em;
}