/* insérer une image de fond sur toutes la page */
body {
    background-image: url(../Ressources/Images/background_patient.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime les espacements internes par défaut */
    overflow-x: auto; /* Permet le défilement horizontal si nécessaire */
}

#en-tete {
    margin-left: 40%;
    width:50%;
    height : 10%;
    display: flex;
    flex-direction: row;
}

#logo_page{
    width : 6em;
    height : 4em;
}

#en-tete_text{
    margin-left: 2%;
    font-size: 1em;
    width : 100%;
}

#en-tete_text h1,
#en-tete_text h2 {
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime les espacements internes par défaut */
}

#en-tete_text h2{
    margin-left: 3%;
}

#banderolle {
    background-color: #f5eded;
    height: 8%;
    width: 100%;
    border : solid 0.1em black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo_container_hist {
    position: relative; /* Nécessaire pour positionner la boîte de texte par rapport au conteneur */
    display: inline-block;
}

#logo_historic{
    width: 5em;
    height: 4em;
    margin-left : 2em;
    cursor: pointer;
    border : 0.3em solid black;
    border-radius: 50%;
}

#logo_container {
    position: relative; /* Nécessaire pour positionner la boîte de texte par rapport au conteneur */
    display: inline-block;
}

#logo_account {
    width: 4em;
    height: 4em;
    cursor: pointer; /* Change le curseur pour indiquer que c'est cliquable */
    margin-left: -7em; /* Décale le logo vers la gauche */
}

#tooltip {
    visibility: hidden; /* Cache la boîte de texte par défaut */
    width: 10em; /* Utilisation d'une mesure relative */
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 0.5em;
    padding: 0.5em 0;
    position: absolute;
    z-index: 1;
    top: 110%; /* Positionne la boîte de texte en dessous du logo */
    left: 50%;
    transform: translateX(-100%);
    opacity: 0; /* Cache la boîte de texte par défaut */
    transition: opacity 0.3s; /* Transition pour l'effet de fondu */
}

#tooltip::after {
    content: "";
    position: absolute;
    top: -0.5em; /* En haut de la boîte de texte */
    left: 50%;
    transform: translateX(-50%);
    border-width: 0.5em;
    border-style: solid;
    border-color: black transparent transparent transparent; /* Triangle pointant vers le logo */
}

#logo_container:hover #tooltip {
    visibility: visible; /* Affiche la boîte de texte au survol */
    opacity: 1; /* Rend la boîte de texte visible */
}

#tooltip_hist {
    visibility: hidden; /* Cache la boîte de texte par défaut */
    width: 10em; /* Utilisation d'une mesure relative */
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 0.5em;
    padding: 0.5em 0;
    position: absolute;
    z-index: 1;
    top: 110%; /* Positionne la boîte de texte en dessous du logo */
    left: 50%;
    transform: translateX(-40%);
    opacity: 0; /* Cache la boîte de texte par défaut */
    transition: opacity 0.3s; /* Transition pour l'effet de fondu */
}

#tooltip_hist::after {
    content: "";
    position: absolute;
    top: -0.5em; /* En haut de la boîte de texte */
    left: 50%;
    transform: translateX(-50%);
    border-width: 0.5em;
    border-style: solid;
    border-color: black transparent transparent transparent; /* Triangle pointant vers le logo */
}

#logo_container_hist:hover #tooltip_hist {
    visibility: visible; /* Affiche la boîte de texte au survol */
    opacity: 1; /* Rend la boîte de texte visible */
}


#banderolle_img{
    width: 100%;
    height : 30em;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-around; /*Centre le texte*/
    align-items: center;
    margin-bottom: 0em;
    margin-left : 1em;
}

#redirect_buttons{
    display : flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3em;
}

.button {
    position: relative;
    display: inline-block;
}

.notification {
    position: absolute;
    top: -0.2em;
    right: -0.4em;
    padding: 0.2em 0.4em;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 0.7em;
    font-weight: bold;
}

#button_patient{
    font-size: 2em;
    width: auto; /* Ajuste automatiquement la largeur en fonction du contenu */
    height: auto;
    margin-top :0.71em;
    margin-left : 0.5em;
    padding: 0.5em 1em;
}

#personnal_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centre la table horizontalement */
}

#essai_clinique {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centre la table horizontalement */
}

#table_essai {
    margin-top : 2em;
    width : 75%;   
    border-collapse: separate; /* Utilisez 'separate' pour permettre l'arrondissement des angles */
    border-radius: 1em; /* Arrondit les angles du tableau */
    overflow: hidden; /* Assure que les coins arrondis sont appliqués */
}

#table_patient thead tr{
    font-size : 1.5em;
}

#table_patient tbody{
    font-size : 1.2em;
    text-align: center;
}

#table_essai thead tr{
    font-size : 1.5em;
}

#table_essai tbody{
    font-size : 1.2em;
    text-align: center;
}

#edit_option{
    margin-top: 0.5em;
    margin-left: 67%;
    font-size: 1em;
    text-decoration: none;
    color : #223e69;
}

#edit_option:hover{
    text-decoration: underline;
}

#reponse_essai{
    margin-top: 0.5em;
    border-radius: 0.5em;
    background-color: #f2f2f2e1;
    font-size: 1em;
    padding: 0.5em;
}

#notif{
    margin-left : 9em;
}

#confirmation_side_effect{
    margin-left : 9em;
}

#side_effect_buttons{
    width : 5em;
    margin-right : 0.5em;
    margin-left : 0.5em;
}

#tableau_inscription_essai{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centre la table horizontalement */
}

.error-message{
    margin-left : 9em;
}

.search-container {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    width: 100%; /* Prend toute la largeur disponible */
    margin-top: 2em; /* Ajoute un espacement au-dessus */
    margin-bottom: 1em; /* Ajoute un espacement en dessous */;
}

.search {
    box-shadow: 0 20px 10px -10px rgba(200, 200, 200, .5);
    display: flex; /* Utiliser Flexbox pour aligner les éléments */
    align-items: center; /* Aligner les éléments horizontalement au centre */
    justify-content: center; /* Centrer les éléments horizontalement */
    width: 100%;
    height: 3em; 
}


.search__input {
    border: 0;
    outline: 0;
    height: 100%;
    width : 80%;
    font-size: 1em;
    border-bottom-left-radius: 3em ;
    border-top-left-radius: 3em ;
}

#search__button {
    box-shadow: -10px 0 10px -5px rgba(90, 238, 209, .5);
    color: #FFF;
    background-color: #5AEED1;
    width: 20%;
    height: 100%;
    text-align: center;
    border: 0;
    cursor: pointer;
    transition: box-shadow .3s ease-out;
    border-bottom-right-radius: 3em;
    border-top-right-radius: 3em;
}

#search__button:hover {
    background-color: #45d1b5;
}




#new_essais_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centre la table horizontalement */   
    margin-bottom: 5em;
    overflow-x: auto; /* Permet le défilement horizontal si nécessaire */
}

#title_essai_part{
    position: relative;
    width : 60%;
    text-align: center;
}



#title_essai_part ::before,
#title_essai_part ::after {
    content: "";
    top: 50%;
    width: 40%;
    height: 0.01em;
    background-color: #969494;
}

#title_essai_part ::before {
    left: 0;
}

#title_essai_part h2 ::after {
    right: 0;
}


#titre_bouton_principal::before,
#titre_bouton_principal::after {
    content: "";
    top: 50%;
    width: 40%;
    height: 0.01em;
    background-color: #969494;
}

#titre_bouton_principal::before {
    left: 0;
}

#titre_bouton_principal h2::after {
    right: 0;
}

#new_essais{
    border-radius: 0.5em;
    width : 80em;
    height : 65em;
    overflow-y: scroll;
}

/* Style de la barre de défilement */
#new_essais::-webkit-scrollbar {
    width: 12px; /* Largeur de la barre de défilement */
}

/* Style de la piste de la barre de défilement */
#new_essais::-webkit-scrollbar-track {
    background: #f1f1f1; /* Couleur de la piste */
    border-radius: 10px;
}

/* Style du pouce de la barre de défilement */
#new_essais::-webkit-scrollbar-thumb {
    background: #888; /* Couleur du pouce */
    border-radius: 10px;
}

/* Style du pouce de la barre de défilement au survol */
#new_essais::-webkit-scrollbar-thumb:hover {
    background: #555; /* Couleur du pouce au survol */
}

.box_essai {
    background-color: #f5eded;
    border-radius: 8px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* / efeft de survol */
.box_essai:hover { 
    box-shadow: 0 0.5em 0.8em rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.box_essai p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
}

#button_join{
    margin-bottom: 0.5em;
    width : 10em;
    margin-left : 85%;
}

.essai_title{
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-top : 0.5em;
    
}

