* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Italiana';
    src: url('../Ressources/Font/Italiana-Regular.woff2') format('woff2'),
         url('../Ressources/Font/Italiana-Regular.woff') format('woff'),
         url('../Ressources/Font/Italiana-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


#bandeau_top {
    position: relative; /* Permet l'utilisation de z-index */
    display: flex; /* Active Flexbox */
    flex-direction: row; /* Les éléments seront alignés horizontalement (en ligne) */
    align-items: flex-end; /* Aligne les éléments au bas de la box */
    justify-content: flex-end; /* Aligne les éléments à droite */
    height: 10vh; /* Hauteur du rectangle */
    width: 100%; /* Largeur complète */
    /*padding: 1%; /* Espacement interne */
    gap: 16em;
    box-shadow: 0 2vh 4vh rgba(0, 0, 0, 0.2); /* Ombre pour un effet élégant */
    background-color: rgba(34, 209, 228, 0.5); /* Couleur de fond semi-transparente */
    z-index: 1; /* Place la box devant le fond */
}

#fond {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place le fond derrière tout le reste */
}

#en-tete {
    margin-left: 10%;
    width:50%;
    height : 5%;
    display: flex;
    flex-direction: row;
    /* Haut, Droite, Bas, Gauche */
    padding: 0.5em 2 em 2em 0.3em;
    gap: 3em
}

#band_welcome {
    gap: 10em;
}

#logo_page{
    height : 8em;
}

/* Style des boutons */
.button { /* Augmenter l'espacement interne des boutons */
    font-size: 2rem; /* Augmenter la taille de la police */
    height: 2em; /* Hauteur spécifique du bouton (par exemple, 10% de la hauteur de la fenêtre) */
    width: 8em; /* Couleur de fond des boutons */
    color: white; /* Couleur du texte */
    border: none;
    border-radius: 50px; /* Bords arrondis des boutons */
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'JetBrains Mono', sans-serif;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}


#ma_div {
    padding-top: 5%;
    background-image: url("../Ressources/Images/background_accueil.png"); /* Lien vers l'image */
    background-size: cover; /* L'image couvre toute la div sans déformation */
    background-position: center; /* Centre l'image dans la div */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    width: 100%;
    height: 78em;
}

#ready{
    margin-top: 7em;
    margin-left: 9em;
    font-family: "Italiana" , sans-serif;
    font-size: 3rem;
}

#bienvenue{
    
    margin-left: 2em;
    font-family: "Italiana" , sans-serif;
    font-size: 7rem;
}

/* Conteneur des box */
#grid_container {
    display: grid; /* Active Grid Layout */
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes de tailles égales */
    gap: 1rem; /* Espacement entre les box */
    margin-left: 20%;
    width: 50%; /* Largeur totale du conteneur */
    border: 2px solid black; /* Ajout d'une bordure visible */
    padding: 1rem; /* Espacement interne autour des box */
    background-color: white; /* Fond pour le conteneur */

}

.box {
    border: 2px solid black;
    font-size: 2em;
}
