/* CSS pour centrer et rendre les graphiques responsives */
.graphique-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0;
}

.graphique-container .title {
    text-align: center;
    margin-bottom: 1em;
}

.graphique-container canvas,
.graphique-container img {
    max-width: 100%;
    height: auto;
}


#full_info{
    width : 100%;
}

#table_full{
    margin-top : 2em;
    border-collapse: separate; /* Utilisez 'separate' pour permettre l'arrondissement des angles */
    border-radius: 1em; /* Arrondit les angles du tableau */
    overflow: hidden; /* Assure que les coins arrondis sont appliqués */
    margin-left : 3%;
}

#table_full thead tr{
    font-size : 1.5em;
}


#table_full tbody{
    font-size : 1.2em;
    text-align: center;
}

