
#fond {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place le fond derrière tout le reste */
}

/* Style du conteneur */
#bandeau_top {
    position: relative; /* Permet l'utilisation de z-index */
    display: flex; /* Active Flexbox */
    flex-direction: row; /* Les éléments seront alignés horizontalement (en ligne) */
    align-items: flex-end; /* Aligne les éléments au bas de la box */
    justify-content: flex-end; /* Aligne les éléments à droite */
    height: 10vh; /* Hauteur du rectangle */
    width: 100%; /* Largeur complète */
    /*padding: 1%; /* Espacement interne */
    gap: 5rem;
    box-shadow: 0 2vh 4vh rgba(0, 0, 0, 0.2); /* Ombre pour un effet élégant */
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
    z-index: 1; /* Place la box devant le fond */
}

/* Style pour le texte */
h1 {
    margin: 0; /* Réinitialise toutes les marges */
    padding: 0; /* Réinitialise tous les padding */
    color: #ffffff; /* Texte blanc */
    font-size: 2rem; /* Taille proportionnelle */
}

/* Style pour l'image */
#profil {
    max-width: 4%; /* Taille adaptative de l'image */
    height: auto; /* Garde les proportions */
    border-radius: 50%; /* Cercle pour le style */
    /*border: 0.2vh solid white; /* Bordure blanche autour de l'image */
    margin-right: 10rem;
}

/* Style des boutons */
.btn {
    padding: center; /* Augmenter l'espacement interne des boutons */
    font-size: 2rem; /* Augmenter la taille de la police */
    height: 10vh; /* Hauteur spécifique du bouton (par exemple, 10% de la hauteur de la fenêtre) */
    width: 20vw;
    background-color: #131029; /* Couleur de fond des boutons */
    color: white; /* Couleur du texte */
    border: none;
    border-radius: 10px; /* Bords arrondis des boutons */
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'JetBrains Mono', sans-serif;
    position: absolute;
}

/* Placement des boutons à l'aide de pourcentages */
#button1 {
    left: 25%; /* Position horizontale à 10% de la largeur de la page */
    top: 30%; /* Position verticale à 10% de la hauteur */
}

#button2 {
    left: 25%; /* Position horizontale à 30% de la largeur */
    top: 50%; /* Position verticale à 10% de la hauteur */
}

#button3 {
    left: 55%;
    top: 30%;
}

#button4 {
    left: 55%;
    top: 50%;
}

#button5 {
    top: 70%;
    left: 30%;
}

/* Changement de couleur au survol */
.btn:hover {
    background-color: #d05a5a;
}

.confirmation {
    padding: center; /* Augmenter l'espacement interne des boutons */
    font-size: 2rem; /* Augmenter la taille de la police */
    height: 7vh; /* Hauteur spécifique du bouton (par exemple, 10% de la hauteur de la fenêtre) */
    width: 40vw;
    background-color: #9c9aa9; /* Couleur de fond des boutons */
    color: rgb(20, 15, 15); /* Couleur du texte */
    border: none;
    border-radius: 10px; /* Bords arrondis des boutons */
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'JetBrains Mono', sans-serif;
    position: absolute;
}

.confirmation:hover {
    background-color: #4589c8;
}

.button-container2 {
    position: relative;
    margin: 50px;
    display: inline-block;
}
.notification-btn {
    background-color: #007BFF;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
}
.notification-btn:hover {
    background-color: #0056b3;
}

.pastille {
    position: absolute;
    top: -0.8em;
    right: -0.9em;
    background-color: red;
    color: white;
    border-radius: 100%;
    padding: 1em;
    font-size: 0.6em;
}